.lateral-search-cont {
  display: none;
  height: 50px;
  width: 100%;
  justify-items: center;
  align-items: center;
  /* padding-left: 5px; */
  padding-inline: 5px;
  border-radius: 10px;
}
.lateral-add-cont{
  display: none;
  height: 50px;
  width: 100%;
  justify-items: center;
  align-items: center;
  /* padding-left: 5px; */
  padding-inline: 5px;
  border-radius: 10px;
}
.navbar-col-items li {
  height: 50px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  /* padding-left: 5px; */
  padding-inline: 5px;
  border-radius: 10px;
}
.nav-link-grand {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .nav-full {
    animation: fadeInUp;
    animation-duration: 1s;
  }
  .navbar-col-items li {
    height: 100%;
  }
  .hiddedMedia{
    display: none !important;
  }
}
@media (min-width: 768px) {
  .nav-link-grand {
    flex-direction: row;
  }
  .nav-full {
    animation: fadeInLeft;
    animation-duration: 1s;
  }
  .lateral-search-cont {
    display: flex;
  }
  .lateral-add-cont{
    display: flex;
}
}
@media (min-width: 1024px) {
  .nav-link-grand {
    flex-direction: row;
    justify-content: start;
  }
}
/* .navbar-col-items li:hover {
  background-color: rgb(45, 37, 54);
} */
/* .lateral-search-cont :hover {
  background-color: rgb(45, 37, 54);
}
.lateral-add-cont:hover{
  background-color: rgb(45, 37, 54);
} */
.nv-li-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-col-end-items li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  /* padding-left: 5px; */
  padding-inline: 5px;
  border-radius: 10px;
}
/* .navbar-col-end-items li:hover {
  background-color: rgb(45, 37, 54);
} */

.nav-up {
  animation: fadeInDown;
  animation-duration: 1s;
}

